// colors
$blackColor: black;
$blackColorHover: rgb(66, 66, 66);
$whiteColor: whitesmoke;
$darkslateblue: #483d8b;
$darkslateblueHover: #554d88;

//fonts
$bodyFont: 'Roboto', sans-serif;
$titleFont: 'Roboto', sans-serif;

//mixins
@keyframes slide-down {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translateX(0);
  }
  80% {
    opacity: 1;
    transform: translateX(0);
  }
  99% {
    opacity: 0;
  }
  100% {
    transform: translateX(-30px);
  }
}
@mixin slide-down {
  color: black;
  animation: slide-down 10s ease-in-out alternate;
}
